@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3><p>Ibn Sina diagnostic and imaging center is one of the largest diagnostic center in Bangladesh. It was known as Ibn Sina Diagnostic Laboratory since 2006. It was set up on May 1st, 1981 and situated on House No # 48, Road No. # 9/A, Dhanmondi, Dhaka-1209.

    It is equipped with the latest and technologically advanced appliances. A number of leading specialized consultants attend here regularly, and it is renowned countrywide for its unparalleled round-the-clock service and utmost dedication. Fully computerized Hormone and Immunology analyzers, Biochemistry and Hematology auto-analyzer, Serology auto analyzer, Coagulation analyzer, Histo pathology, Cytology, Micro biology, Video endoscope, Digital E.E.G, Blood culture (Fan Method), Electrophoresis of Hb & protein. Digital X-ray, OPG, Mammography, 4D USG, Broncoscopy, Colposcopy, Echo, Color Doppler, ETT, ECG, Holter Monitor,128 slice CT Scan, 1.5T & 18 channel double unit MRI 1st time in Bangladesh.

    In addition Ibn Sina Provide general Health Checkup, Executive Health Check Up, Cardiac health Check up, Diabetic Health Check Up service. A complete Diabetic Centre Serving Diabetic patient’s continuously.</p></h3>
