@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ibn Sina Diagnostic & Imaging Center, Dhanmondi

    LOCATION

    House 48, Road 9/A, Dhanmondi, Dhaka 1209

    +88 02 9126625-6, +8801717-351631, +880 1844-141708 
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>